h1 {
    font-style: italic;
    text-align: center;
    margin: auto;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-style: italic;
    color: dimgray;
    text-align: center;
    margin: auto auto auto 50px;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#backImg {

    margin-top: 30px;
    background-size: cover;
    width: 200px;
    height: 200px;
}

body {
    background-color: lightsalmon;
}

#menu{
    text-align: center;
    margin-top: 70px;
    height: 500px;
    /* background-color: brown; */
}

#block{
    height: 100px;
}

.menuButton{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 30px;
    width: 20%;
    height: 20%;
}

.Tiger{
    width: 30px;
    height: 30px;
}
